@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.shadow-all {
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-b {
	box-shadow: 0 1px 0px 0 rgb(0 0 0 / 0.1), 0 1px 0px -1px rgb(0 0 0 / 0.1);
}

@keyframes switch-light-animation {
	100% {
		opacity: 1;
		background: var(--bg-light);
	}
}

@keyframes switch-dark-animation {
	100% {
		opacity: 1;
		background: var(--bg-light);
	}
}

:root {
	--header-height: 48px;

	--server-bar-width: 84px;
	--channel-bar-width: 208px;
	--user-bar-width: 208px;
}

.light {
	--bg-dark: rgb(226, 232, 240);
	--bg-medium: rgb(241, 245, 249);
	--bg-light: rgb(255, 255, 255);
	--bg-accent: rgb(170, 129, 225);
	--bg-accent-dark: rgb(140, 99, 195);

	--fg-dark: rgb(0, 0, 0);
	--fg-medium: rgb(107, 114, 128);
	--fg-light: rgb(128, 128, 128);
	--fg-accent: rgb(255, 255, 255);

	background: gray;
	opacity: 0;
	animation: switch-light-animation 0.2s;
	animation-fill-mode: forwards;
}

.dark {
	--bg-dark: rgb(44, 44, 44);
	--bg-medium: rgb(58, 58, 58);
	--bg-light: rgb(66, 65, 65);
	--bg-accent: rgb(170, 129, 225);
	--bg-accent-dark: rgb(140, 99, 195);

	--fg-dark: rgb(255, 255, 255);
	--fg-medium: rgb(178, 178, 178);
	--fg-light: rgb(152, 151, 151);
	--fg-accent: rgb(255, 255, 255);

	background: white;
	opacity: 0;
	animation: switch-dark-animation 0.2s;
	animation-fill-mode: forwards;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
