@keyframes backdrop-open-animation {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 0.6;
    }
}

.backdrop-open {
    animation: backdrop-open-animation 0.2s;
	animation-fill-mode: forwards;
}

@keyframes backdrop-close-animation {
    0% {
        opacity: 0.6;
    }
    
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.backdrop-close {
    animation: backdrop-close-animation 0.2s;
	animation-fill-mode: forwards;
}

@keyframes popup-open-animation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.popup-open {
    animation: popup-open-animation 0.2s;
	animation-fill-mode: forwards;
}

@keyframes popup-close-animation {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
        visibility: hidden;
    }
}

.popup-close {
    animation: popup-close-animation 0.2s;
	animation-fill-mode: forwards;
}