@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes user-bar-animation {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.user-bar {
    animation: user-bar-animation 0.3s;
    animation-fill-mode: forwards;

    opacity: 0;
    transform: translateX(208px);
}
